.skills {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.skills svg {
  margin: 0 auto;
  width: 80px;
}
.img {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  font-size: 20px;
}