.header {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.logo {
  display: flex;
  align-items: center;
  width: 300px;
  transform: scale(1);
}
.logo_text {
  margin-left: 5px;
  font-size: 35px;
  text-transform: uppercase;
  
}
.name {
  font-size: 55px;
  font-weight: 300;
  line-height: 40px;
}
